@import url("link.css");
body {
    background-color: lightgrey;
}

.drawer-container {
    background-color: white;
    width: 200px;
    border-radius: 0.5rem;
    margin: 1rem;
    /* height: 300px;
    overflow: auto; */
    border: 1px solid black;
}

.drawer-lists {
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

.lists {
    padding: 5px 10px 5px 15px;
    border-radius: 0.4rem;
    display: flex;
    text-decoration: none;
    margin: 1rem 1rem 1rem 0.2rem;
}

.lists:hover {
    background-color: rgb(238, 200, 200);
    color: rgb(81, 81, 133);
}

.fa {
    margin-right: 3rem;
    color: rgb(107, 82, 82);
    /* background-color: white; */
}

span,
header {
    margin-left: 1rem;
    font-size: 2rem;
}

span {
    font-size: 1.1rem;
    color: rgb(121, 111, 111);
}

.permanent-container {
    width: 100%;
    background-color: white;
    border: 1px solid black;
    /* border-radius: 0.4rem; */
    display: flex;
    /* flex-direction: row; */
    margin-left: 1rem;
    border-radius: 0.2rem;
    margin-top: 1rem;
}

.aside-container {
    background-color: white;
    width: 205px;
    /* border-radius: 0.5rem; */
    /* margin: 1rem; */
    height: 300px;
    overflow: auto;
}

.aside-nav {
    /* margin-top: 0px; */
    width: 250px;
    border-right: 1px solid black;
}

.fixed-container {
    width: 100%;
    height: 356px;
    overflow: auto;
}

.paragraph {
    margin: 1rem;
    font-size: 1.2rem;
}

.drawer-title {
    background-color: rgb(58, 99, 212);
    width: 100%;
    margin: 0px;
    padding-bottom: 1rem;
    color: white;
}

.drawer-title i {
    color: white;
    margin: 1rem 1rem 0rem 1rem;
    font-size: 1.6rem;
    cursor: pointer;
    padding: 0.8rem;
    border-radius: 50%;
}

.drawer-title i:hover {
    background-color: rgba(206, 176, 236, 0.425);
}

.header {
    margin-left: 1rem;
    color: rgb(4, 42, 73);
}

@media screen and (max-width:992px) {
    .drawer-container,
    .permanent-container {
        margin-left: 0rem;
    }
}

@media screen and (min-width:992px) {
    .permanent-container {
        width: 97%;
    }
}