@import url("link.css");
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    /* flex-grow: 1; */
}

.short-header {
    display: flex;
    flex-direction: row;
    width: 85%;
    background-color: blueviolet;
    /* border-radius: 1rem; */
    justify-content: space-between;
}

.left-objects {
    display: flex;
    margin-top: 0.9rem;
    color: white;
    font-size: 1.4rem;
    gap: 1rem;
}

.right-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* float: right; */
    padding-left: 6rem;
    padding-right: 2.8rem;
}

.right-icons-list {
    display: flex;
    margin: 0rem 3rem 0rem 0rem;
    /* position: fixed; */
}

section {
    margin-top: 0.8rem;
    overflow-x: hidden;
    margin-bottom: 1rem;
}

section a i {
    color: white;
    padding: 6px;
    font-size: 1.3rem;
    border-radius: 50%;
}

section a i:hover {
    background-color: white;
    color: blueviolet;
}

.left-icon {
    margin: auto 1rem;
    margin-top: -0.2rem;
}